<div class="container" id="map-background">
	<div class="row">
		<form ng-submit=search() class='center'>
			<div class="input-field col s12  text-center">
				<input type="text" id="backg" class="lightblue" name="keyword" placeholder="Enter Search Term" ng-model="searchTerm">
			</div>
		<button type="submit" value="submit" class="waves-effect waves-orange btn-large orange">Search</button>
		</form>

		<div class="dropdownCss center articles" id="keyword-info" >
			<h3 class="dropbtnCss">
				Searched for: {{keyword}}
				<br>
				&#9660
			</h3>
			<div class="dropdown-contentCss articles">

				<div class="card" ng-repeat="article in germanyArticles">
					<a href="{{article.url}}" target="_blank">{{article.title}}</a>
				</div>

				<div class="card" ng-repeat="article in usArticles">
					<a href="{{article.url}}" target="_blank">{{article.title}}</a>
				</div>

				<div class="card" ng-repeat="article in gbArticles">
					<a href="{{article.url}}" >{{article.title}}</a>
				</div>
			</div>
		</div>



		<div id="chartdiv" class="chartdiv z-depth-3"></div>


</div>

