<div class="container">
	<div class="row">
		<form ng-submit=search() class='center'>
			<div class="input-field col s12  text-center">
				<input type="text" class=" lightblue" name="keyword" ng-model="searchTerm">
			</div>
		<button type="submit" value="submit" class="waves-effect waves-orange btn-large orange pulse">Search</button>
		</form>



		<div id="chartdiv" class="chartdiv z-depth-3"></div>
		<div id="chartdiv2" class="chartdiv right-align z-depth-3"></div>
		<div id="chartdiv1" class="chartdiv left-align z-depth-3"></div>

</div>

