.chartdiv {
background-color: white;
display: inline-block;
  width: 95%;
  height: 500px;
margin: 25px;
border: 10px solid lightblue;

}



body {
	background-color: grey;

}

.image-stuff {
	background-size: cover;
}

.hi {
	width: 50%;
}

