html, body {
	height: 100%;
}

.chartdiv {
background-color: white;
display: inline-block;
  width: 95%;
  height: 500px;
margin: 25px;
border: 10px solid lightblue;

}

a {
color: white;
}

#backg {
	background-color: lightgrey;
	border: 2px solid teal;
	color: white;
size: 40px;
}


.maybe{


}


.full-image {
    display: flex;
}


body {
	background-color: grey;
}

.image-stuff {
	background-size: cover;
}

.hi {
	width: 50%;
}

#error-page {
	height: 500px
}

#keyword-info{
/*	position: absolute;
	left: 0;*/
}

div.articles{
	background: grey;
	z-index: 100000;
}
.dropbtnCss {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 0px;

}

.dropdownCss {
    position: relative;
    display: inline-block;
      width: 100%
}

.dropdown-contentCss {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-contentCss a {
    color: black;
    text-decoration: none;
    display: block;
    width: 100%
}

.dropdown-contentCss a:hover {background-color: #f1f1f1}

.dropdownCss:hover .dropdown-contentCss {
    display: block;
}

body {
    overflow-x: hidden;
}

.box-wrapper {
    -webkit-transition-duration: 600ms;
    transition-duration: 600ms;
}

.box-wrapper.loading:nth-child(odd) {
    transform: translate(75%);
    -webkit-transform: translate(100%);
}

.box-wrapper.loading:nth-child(even) {
    transform: translate(-75%);
    -webkit-transform: translate(-100%);
}





.box-wrapper:nth-child(odd) .box {

}

.box-wrapper:nth-child(even) .box {

}


.box {
    content: "";
    display: block;
    margin: auto;

.dropdownCss:hover .dropbtnCss {
    background-color: #3e8e41;
}
